.card__header {
  width: 100%;
  height: 12rem;
}
img {
  width: 100%;
  height:100%;
  object-fit: cover;
}
.card {
  height: 25rem;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  box-shadow: 0 .1rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 6px;
  background: linear-gradient(to right, #FFFFFF, #ECE9E6);
  animation: animate-in 1s ease-out forwards;
  color: #86888A;
}
.card__body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
.card__excerpt {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 6em;
}
.card__excerpt p,
.card__excerpt h1,
.card__excerpt h2,
.card__excerpt h3,
.card__excerpt ul,
.card__excerpt ol {
  margin: 0;
  padding: 0;
}

.card__excerpt p:empty,
.card__excerpt p:has(br:only-child) {
  display: none;
}

.tag {
  align-self: flex-start;
  padding: .25em .75em;
  border-radius: 1em;
  font-size: .75rem;
  border: none;
  outline: none;
  cursor: pointer;
}
.tag + .tag {
  margin-left: .5em;
}
.tag-red {
  background: #cb2d3e;
background: linear-gradient(to bottom, #ef473a, #cb2d3e);
  color: #fafafa;
}
.card__body h4 {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin: 0;
}
.card__body p {
  margin: 0;
}
.card__footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-top: auto;
}
.card__footer button {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
}

a {
  text-decoration: none;
}
.details {
  color: #316ce8;
  font-weight: 600;
}
.icons {
  font-size: 22px;
  color: #86888A;
}
.icons:hover {
  color: #008080;
}
@keyframes animate-in {
  from {
    opacity: 0;
    transform: translateY(1rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@media (min-width:1200px) {
  .card {
    width: clamp(20rem, calc(20rem + 2vw), 22rem);
  }
}