.control {
  margin-bottom: 8px;
}
.control label {
    font-weight: bold;
    display: block;
    margin-bottom: 0.5rem;
    color: #86888A;
}
.control input,
.control textarea {
    font: inherit;
    padding: 0.35rem;
    border-radius: 4px;
    background-color: #f0f0f0;
    border: 1px solid #c1d1d1;
    display: block;
    width: 100%;
    font-size: 1.25rem;
    color: #86888A;
}
  
.control input:focus,
.control textarea:focus {
    background-color: #cbf8f8;
    outline-color: teal;
}
  
.actions {
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
    gap:0.3125rem;
}

.actions button {
    font-size: 1.25rem;
    cursor: pointer;
    min-width: 92px;
    padding: 5px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}
.actions :first-child button {
    background-color: transparent;
    color:#008080;
    border:1px solid #008080;
}
.actions :nth-child(2) {
    background-color: #008080;
    color:#fff;
    border: none;
}
.error {
    color: darkred;
}
@media (max-width:575px) {
    .actions button {
        font-size: 1rem;
        min-width: 72px;
    }
}