footer {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem 0;
    background-color: #F4F8FA;
    color: #008080;
}
@media (max-width:768px) {
    footer h4 {
        margin: 1rem;
    }
    footer p {
        margin: 0.5rem;
    }
}